name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Adjust this if your default branch is different (e.g., 'master')

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet

      - name: Build WASM
        run: |
          flet publish main.py --base-url /${{ github.event.repository.name }}/
        env:
          FLET_SECRET_KEY: ${{ secrets.FLET_SECRET_KEY }}

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          branch: gh-pages
